/*
-el # es para cuando haya una identificación.
-el . es para cuando haya una clase.
*/

body {
    /*background-image: url("https://picfiles.alphacoders.com/586/586625.jpg");*/
    background-image: url(../image/battle.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

/*Clase*/
.title {
    color: yellow;
    text-align: center;
    width: 350px;
    height: 50px;
    margin: 30px auto;
    font-family: CrashBandicootTitle, serif;
    font-size: xxx-large;

    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    transform: rotateX(-20deg) rotateY(-30deg);
    -webkit-transform: rotateX(-20deg) rotateY(-30deg);

    animation-name: spin;
    animation-duration: 5000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.subtitle {
    color: white;
    text-align: center;
    width: 350px;
    height: 50px;
    font-family: CrashBandicootTitle, serif;
    font-size: medium;
}
@keyframes spin {
    from {
        transform: rotateX(-20deg) rotateY(0deg);
    }
    to {
        transform: rotateX(-20deg) rotateY(360deg);
    }
}
@font-face {
    font-family: CrashBandicootTitle;
    src: url(../fonts/crash-bandicoot-wumpa.ttf);
}

@font-face {
    font-family: CrashBandicootText;
    src: url(../fonts/roquette-std.otf);
}

#select-pet {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 85vh;
    border: 1px solid black;
    border-radius: 15px;
    width: 55vh;
    margin: 50px auto;
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgb(59, 35, 8) 0%, rgb(59, 35, 8) 50%, rgb(91, 50, 6) 100%);
}

.card-mokepon-1 {
    /*width: 150px;
    height: 50px;
    background-color: aquamarine;
    padding: 10px;
    box-sizing: border-box;
    margin: 10px;
    border: 2px solid hotpink;*/
    display: flex;
    justify-content: center;
    border: 2px white;
    width: 80px;
    height: 50px;
    padding: 10px;
    box-sizing: border-box;
    margin: 10px;
}

#select-pet label {
    font-family: CrashBandicootText, fantasy;
    width: 150px;
    text-align: center;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 5px;
    box-sizing: border-box;
    color: orangered;
    cursor: pointer;
}

#select-pet button {
    font-family: CrashBandicootTitle, serif;
    font-size: 20px;
    margin-bottom: 25px;
    margin-top: 25px;
    background-color: black;
    color: aliceblue;
    cursor: pointer;
}
